/* --------------------------------------------------

  HOME PAGE TEMPLATE

-------------------------------------------------- */





/* HERO
================================================== */
.hero-wrapper--home
  padding-top 0

  .hero-headline
    position relative
    .tagline
      position relative
      line-height normal
    .tag-change
      width 230px
      height 47px
      position relative
      top 0
      display inline-block
      em
        margin 0
        position absolute
        top -50px
        display inline-block
        font-style normal
        color transparent
        transition all .5s cubic-bezier(.215,.61,.355,1)
        &.active
          top 0
          color #fff
        &.vs-out
          top 50px


/* PRIMARY NAVIGATION
================================================== */
.nav-primary-wrapper
  position relative // For positioning on top of fixed footer
  background brand-purple-dark url(../images/bg-dirt-2.png)
  z-index 100 // For positioning on top of fixed footer

.nav-primary--home
  center(1100px)
  // padding-left 120px
  float none

/* CONTENT
================================================== */
.content--home
  padding 0

/* FEATURE CARDS
================================================== */
.feature-cards-wrapper
  background brand-gray-light url(../images/bg-dirt-2.png)

.feature-cards
  center(1100px)
  padding 100px 0

.feature-card
  col(1/3, gutter: 7.5)
  min-height 520px
  &:nth-child(2)
    // margin-top 30px

/* PROMOS
================================================== */
.promos-wrapper
  position relative // For positioning the :before element
  background #fff url(../images/bg-dirt-2.png)
  &:before
    content ''
    width 53%
    height 100%
    display block
    position absolute
    left -3%
    background rgba(0,0,0,.05)
    transform skewX(-7deg)

.promos
  center(1100px)
  padding 100px 0 0

.promo
  col(1/2)
  &:first-child
    padding 0 60px 0 0
  &:last-child
    padding 0 0 0 60px

/* PRIMARY CTA
================================================== */
.primary-cta-wrapper
  background #fff

.primary-cta
  center(1100px)
  padding 100px 0

  .primary-cta-content
    col(6/8)
    h2
      margin 0
      font-size 36px

  .primary-cta-action
    col(2/8)
    .btn
      margin-top 10px
      padding 20px 40px
      font-size 18px
      color #fff
      background brand-pink
