/* --------------------------------------------------

  CONTENT

-------------------------------------------------- */





/* CONTENT
================================================== */
.content-wrapper
  margin-bottom 290px // Matches height of fixed footer
  position relative // For positioning on top of fixed footer
  background #fff
  z-index 100 // For positioning on top of fixed footer

.content
  padding-top 50px
  padding-bottom 50px