/* --------------------------------------------------

  FOOTER

-------------------------------------------------- */





/* FOOTER
================================================== */
.footer-wrapper
  margin-top 3px
  width 100%
  position fixed
  bottom 0
  left 0
  background brand-purple url(../images/bg-dirt-2.png)
  z-index 0

.footer
  center(1100px)
  padding 90px 0

  .brand--footer
    width 125px
    height 25px

  .nav-footer
    margin-top 10px
    border-top 4px double #75719b
    clearfix()
    a
      font-size 14px
      font-family avenir
      font-weight 800
      text-transform uppercase
      text-decoration none
      color brand-purple-light

  .nav-footer-primary
    float left
    > li
      // width 150px
      &:first-child
        margin-left -30px
    a
      padding 25px 30px
    li ul a
      font-weight 500
      text-transform none

  .nav-footer-devs
    border-right 1px solid #75719b
    float right
    li
      border-left 1px solid #75719b
    a
      padding 25px 60px