/* --------------------------------------------------

  HERO

-------------------------------------------------- */





/* HERO
================================================== */
.hero-wrapper
  padding-top 20px
  position relative // For positioning on top of fixed footer
  min-height 480px // For sub page hero
  // background url(../images/bg-triangles-purple.jpg) bottom center no-repeat
  background brand-purple url(../images/bg-dirt-2.png)
  z-index 100 // For positioning on top of fixed footer

.hero
  center(1100px)

  .hero-brand
    margin 117px 0 100px
    width 178px
    height 36px

  .hero-headline
    margin-top 0
    margin-bottom 80px
    font-size 48px
    color rgba(255,255,255,.5)
    span
      color #fff

  .hero-lead
    margin-right 160px
    margin-bottom 100px
    font-size 24px
    font-weight 300
    color #fff
