/* --------------------------------------------------

  CONTENT

-------------------------------------------------- */





/* CONTENT
================================================== */
.container
  margin 0 30px
  max-width 960px
  +above(1020px)
    margin 0 auto
