/* --------------------------------------------------

  MAST - BRAND, PRIMARY NAVIGATION

-------------------------------------------------- */





.mast-wrapper
  clearfix()
  &.is-sticky
    background rgba(255,255,255,.1)

.mast
  center(1100px)

  .mast-brand
    margin 20px 0
    width 178px
    height 36px
    float left

  .nav-primary
    float right
    text-align right
