// --------------------------------------------------
//
//   LAYOUT
//
// --------------------------------------------------





// --------------------------------------------------
//   GENERIC CONTAINER
// --------------------------------------------------
.container
  margin 0 30px
  max-width 960px
  @media (min-width:1020px)
    margin 0 auto
