/* Table of Contents
=====================================================
  IMPORTS.............Import manifest files
  GLOBAL STYLES.......Styles that are used sitewide
  CORE................Default HTML elements
  COMPONENTS..........
  TEMPLATES...........Page template styles
*/

/* --------------------------------------------------

  GLOBAL STYLES

-------------------------------------------------- */
@import 'utilities/normalize'
@import 'utilities/settings'
@import 'utilities/jeet'
@import 'utilities/mixins'





/* --------------------------------------------------

  CORE

-------------------------------------------------- */
@import 'core/base'
@import 'core/typography'
@import 'core/images'
// @import 'core/tables'
// @import 'core/forms'
@import 'core/buttons'
// @import 'core/code'





/* --------------------------------------------------

  COMPONENTS

-------------------------------------------------- */
@import 'components/navigation'
@import 'components/mast'
@import 'components/hero'
@import 'components/content'
@import 'components/footer'





/* --------------------------------------------------

  TEMPLATES

-------------------------------------------------- */
@import 'templates/home'
