// --------------------------------------------------
//
//   BUTTONS
//
// --------------------------------------------------





.btn
  padding 10px 15px
  display inline-block
  vertical-align middle
  font-size 14px
  font-family avenir
  font-weight 800
  text-transform uppercase
  white-space nowrap
  color brand-gray-light
  background brand-gray
  border-radius 100px
  &,
  &:hover
    text-decoration none
