/* --------------------------------------------------

  BASE

-------------------------------------------------- */





/* BORDER-BOX
================================================== */
*, *:before, *:after
  box-sizing border-box





/* THE BASICS
================================================== */
body
  font-family font-family-base
  font-weight font-weight-base
  font-size font-size-base
  line-height line-height-base
  color text-color
  background-color body-bg

h1,h2,h3,h4,h5,h6,
p,blockquote,pre,
dl,dd,ol,ul,
form,fieldset,legend,
table,th,td,caption,
hr
  margin 0
  padding 0

a
  text-decoration underline
  color link-color
  transition all .3s ease-in-out