/* --------------------------------------------------

  VARIABLES

-------------------------------------------------- */





/* COLORS
================================================== */
red                   = #B44326
orange                = #F2A34F
yellow                = #F8CA5C
green                 = #7FC028
light-blue            = #52D7FE
blue                  = #00a6fc
purple                = #8E48C2

brand-gray-darker     = #4a4a4a
brand-gray-dark       = #666
brand-gray            = #999
brand-gray-light      = #ccc
brand-gray-lighter    = #f1f1f1
brand-blue            = #001588
brand-blue-light      = #2c99db
brand-purple-dark     = #271e52
brand-purple          = #3b3571
brand-purple-light    = #8981cd
brand-pink            = #e91e63

headings-small-color  = brand-gray-light
input-placeholder-color = brand-gray-light






/* SCAFFOLDING
================================================== */
body-bg               = #fff
text-color            = brand-gray-darker
link-color            = brand-pink
link-hover-color      = darken(link-color, 15%)





/* TYPOGRAPHY
================================================== */
// Font stacks
helvetica-neue        = "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif
helvetica             = Helvetica, Arial, sans-serif
georgia               = Georgia, Cambria, "Times New Roman", Times, serif
lucida-grande         = "Lucida Grande", Tahoma, Verdana, Arial, sans-serif
code                  = Consolas, "Liberation Mono", Courier, monospace;
verdana               = Verdana, Geneva, sans-serif
avenir                = "Avenir Next W01", "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif
source                = "Source Sans Pro", "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif
merriweather          = "Merriweather", Georgia, Cambria, "Times New Roman", Times, serif

// Base font
font-family-base      = source
font-size-base        = 16
font-weight-base      = 400
line-height-base      = 1.5

// Headings font
headings-font-family  = avenir
headings-font-weight  = 900
h1-size               = 36
h2-size               = 30
h3-size               = 24
h4-size               = 20
h5-size               = 16
h6-size               = 14





/* UI
================================================== */
nav-block-padding     = 30px
nav-pills-padding     = 9px 24px
nav-pills-color       = brand-purple-light
nav-pills-background  = brand-purple
nav-pills-border-color = brand-purple-light
nav-pills-radius      = 100px
nav-pills-active-color = #fff
nav-pills-active-background = brand-pink





/* MISC
================================================== */
// Support for old IE
support-for-ie = false
support-for-ie ?= true
