/* --------------------------------------------------

  TYPOGRAPHY

-------------------------------------------------- */





/* HEADINGS
================================================== */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6
  margin: 0 0 unit((font-size-base * 1.5), px)
  font-family: headings-font-family
  font-weight: headings-font-weight

  small,
  .small
    font-weight: normal
    line-height: 1
    color: headings-small-color

h1, .h1,
h2, .h2,
h3, .h3
  small,
  .small
    font-size 65%

h4, .h4,
h5, .h5,
h6, .h6
  small,
  .small
    font-size 75%

h1, .h1
  font-size unit(h1-size, px)

h2, .h2
  font-size unit(h2-size, px)

h3, .h3
  font-size unit(h3-size, px)

h4, .h4
  font-size unit(h4-size, px)

h5, .h5
  font-size unit(h5-size, px)

h6, .h6
  font-size unit(h6-size, px)





/* PARAGRAPHS
================================================== */
p
  margin: 0 0 unit((font-size-base * 1.5), px) // Might need to come back and adjust this during development ;)





/* LISTS
================================================== */
// Unordered and ordered lists
ul,
ol
  margin-top: 0
  margin-bottom: unit((font-size-base * 1.5), px)
  ul,
  ol
    margin-bottom: 0

// List options
// Unstyled keeps list items block level, just removes default browser padding and list-style
list-unstyled()
  padding-left: 0
  list-style: none

// Definition lists
dl
  margin-top: 0 // Remove browser default
  margin-bottom: unit((font-size-base * 1.5), px)

dt,
dd
  line-height: line-height-base

dt
  font-weight: bold

dd
  margin-left: 0 // Undo browser default
